<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <div>
      <form action="/check" method="post">
        <textarea name="question" id="" cols="60" rows="30" readonly>
          {{index . "q"}}
        </textarea>
        <textarea name="input" id="" cols="60" rows="30" ></textarea>
        <textarea name="" id="">
          {{index . "a"}}
        </textarea>
        <input type="hidden" name="answer" value="{{index . "a"}}">
        <div class="row">
          <button type="submit">採点</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>